@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

body {
    background-color: #fff59d;
}

.header {
    background-color: #454e4d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}



.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #fff59d;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e
}

.header .boton button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.header .boton button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/*PRESENTACIÓN*/
.presentacion {
    background-color: white;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.sobre-mi {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px grey;
    margin: 20px;
    transition: all 0.3s;
}

.sobre-mi:hover {
    box-shadow: 0px 2px 15px 2px #dbc70f;
}

.sobre-mi h3 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.imagen img {
    height: 27.5rem;
    width: 27.5rem;
    margin: 20px;
}

.mas-sobre-mi {
    background-color: #f3f2f2;
    padding: 1rem 6rem;
}

.mas-sobre-mi h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px 10px;
    font-family: monospace;
}

.mas-sobre-mi p {
    padding: 0.3rem;
}


/*HABILIDADES*/
.habilidades {
    margin: 15px 15px;
    padding: 30px;
}

.habilidades h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    padding-bottom: 15px;
}

.habilidades .icono {
    width: 6rem;
    height: 6rem;
    margin: 15px 5px;
}

.habilidades .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.habilidades .mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.habilidades .bot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.tarjeta-icono {
    padding: 20px;
    margin: 10px;
}

.icono {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #ac9d9d;
    transition: all 0.3s;
}

.icono:hover {
    transform: scale(1.2);
    box-shadow: 0 3px 10px #dbc70f;
}

/*PROYECTOS*/


html {
    scroll-behavior: smooth;
}





/*ESTILOS DE LA SECTION PROYECTOS*/

.titulo-de-proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.proyectos {
    margin: 0, 10;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    word-wrap: normal;
    color: white;
}

.contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 18rem;
    height: auto;
    background-color: rgb(151, 143, 143);
    border-radius: 20px;
    transition: all 0.3s;
}

.contenedor-tarjetas:hover {
    transform: scale(1.1);
    background-color: #dbc70f;
    cursor: pointer;
    color: black;
}

.contenedor-tarjetas img {
    border-radius: 20px;
}

/*ESTILOS DEL FORMULARIO DE CONTACTO*/

.contacto {
    margin: 20px;
    padding: 0.9rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(155, 162, 255);
    padding: 20px;
    border-radius: 20px;
}

.container h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;

}


form input,
form textarea {
    display: block;
    padding: 5px;
    margin: 15px;
    width: 22rem;
    border-radius: 10px;
    border: none;
}

form input:focus {
    border: 2px solid #7e4ccb
}

form button {
    padding: 5px;
    margin: 15px;
    width: 22rem;
    border-radius: 10px;
    background-color: #89f767;
}

/*ESTILOS REDES SOCIALES*/

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.redes h3 {
    font-family: monospace;
}

.redes img {
    width: 60px;
    transition: all 0.5s;
}

.redes img:hover {
    border-radius: 50%;
    border: 3px solid rgb(0, 34, 128)
}

.redes .insta {
    width: 80px;
}

/*ESTILOS DEL FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-footer {
    display: flex;
    align-items: center;
    gap: 100px;
}

.ubicacion,
.telefono,
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin-bottom: 5px;
}

.footer img {
    width: 30px;
}

footer {
    background-color: #f8f8f8;
}

body {
    background-color: white;
}




@media only screen and (max-width: 413px) {

    .header button {
        display: none;
    }

    .header {
        gap: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .presentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        margin: 10px 35px;
        gap: 0;
    }

    .sobre-mi {
        width: 17rem;
        text-align: justify;
        font-size: 10px;
    }

    .imagen img {
        width: 350px;
        height: auto;
    }

    .mas-sobre-mi {
        padding: 2rem;
        text-align: justify;
    }

    .habilidades {
        display: flex;
        flex-direction: column;
    }

    .habilidades .top {
        gap: 0;
        display: block;
        width: 350px;
    }

    .habilidades .top img {
        width: 90px;
        height: auto;
    }

    .habilidades .mid {
        gap: 0;
        display: block;
        width: 350px;
    }

    .habilidades .mid img {
        width: 90px;
        height: auto;
    }

    .habilidades .bot {
        gap: 0;
        display: block;
        width: 350px;
    }

    .habilidades .bot img {
        width: 90px;
        height: auto;
    }

    .titulo-de-proyectos {
        text-align: center;
    }

    .proyectos {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor-tarjetas {
        width: 300px;
        text-align: justify;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding: 5px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: 0;
        width: 345px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    form input,
    form textarea,
    form button {
        width: 15rem;
        padding: 5px;
    }


    .redes {
        gap: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .contenido-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mas-sobre-mi h2,
    .habilidades h2,
    .titulo-de-proyectos,
    .titulo h3,
    .footer h3 {
        font-size: 30px;
    }

    body {
        background-color: white;
    }
}

@media only screen and (min-width: 413px) and (max-width: 720px) {

    .header {
        gap: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .presentacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        margin: 10px 35px;
        gap: 0;
        flex-wrap: wrap;
    }

    .sobre-mi {
        width: 17rem;
        text-align: justify;
        font-size: 10px;
    }

    .imagen img {
        width: 350px;
        height: auto;
    }

    .mas-sobre-mi {
        padding: 2rem;
        text-align: justify;
    }

    .habilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .habilidades .top {
        display: block;
        width: 350px;
    }

    .habilidades .top img {
        width: 90px;
        height: auto;
    }

    .habilidades .mid {
        gap: 0;
        display: block;
        width: 350px;
    }

    .habilidades .mid img {
        width: 90px;
        height: auto;
    }

    .habilidades .bot {
        gap: 0;
        display: block;
        width: 350px;
    }

    .habilidades .bot img {
        width: 90px;
        height: auto;
    }

    .titulo-de-proyectos {
        text-align: center;
    }

    .proyectos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .contenedor-tarjetas {
        width: 300px;
        text-align: justify;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
    }

    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    .formulario form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulario form input {
        width: 90%;
        height: 30px;
        margin: 0.5rem;
    }

    .formulario form textarea {
        width: 90%;
        height: 100px;
        margin: 0.5rem;
    }

    .formulario form button {
        width: 90%;
        padding: 0.5em 1em;
        border: none;
        background: rgb(100, 200, 255);
        cursor: pointer;
    }

    .redes {
        gap: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenido-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mas-sobre-mi h2,
    .habilidades h2,
    .titulo-de-proyectos,
    .titulo h3,
    .footer h3 {
        font-size: 30px;
    }

}

@media only screen and (min-width: 721px) {

.presentacion {
    display: flex;
    flex-direction: row;
}
.sobre-mi{
width: 100%;
}

.imagen{
    width: 100%;

}
.presentacion img {
    height: auto;
    width: 100%;

}

.contenedor-tarjetas {
    width: 20%;
    display: flex;
}
.contenedor-tarjetas p {
    text-align: justify;
}
.contenido-footer p {
    font-size: 15px;
}

.contenido-footer a {
    text-decoration: none;
}

.contenido-footer {
    gap: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mas-sobre-mi h2,
    .habilidades h2,
    .titulo-de-proyectos,
    .titulo h3,
    .footer h3 {
        font-size: 30px;
    }

}